<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Platform.Converters.TemplateLibrary" version="0.0.2" targetFramework="native" />
  <package id="Platform.Delegates.TemplateLibrary" version="0.0.3" targetFramework="native" />
  <package id="Platform.Exceptions.TemplateLibrary" version="0.0.10" targetFramework="native" />
</packages>